[include plr.cfg]
[include fluidd.cfg]
[include fluidd.cfg]

[virtual_sdcard]
path: /home/belamaranahally/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[include moonraker_obico_macros.cfg]

[include KAMP_Settings.cfg]

[exclude_object]

[include ]