[include plr.cfg]
[include fluidd.cfg]

[virtual_sdcard]
path: /home/belamaranahally/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[include moonraker_obico_macros.cfg]

[include KAMP_Settings.cfg]

[exclude_object]

[include printer-elegoo-neptune3-pro-2023.cfg]

[skew_correction]

[respond]

[gcode_arcs]
#resolution: 1.0

# printer.cfg

[include timelapse.cfg]

[input_shaper]

#[include sample-bigtreetech-adxl345-v2.0.cfg]